################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Repository/.vs/Repository/FileContentIndex/018785f7-aec1-4cc4-8927-6e363617a039.vsidx
